.card-title {
    @include measures ($primaryColor, 1.8rem, 700, center, 5px)
}
.card {
    transition: transform 0.4s;
    cursor: pointer;
    box-shadow: $Boxshadow;
    overflow: hidden;

    &:hover {
        transform: translateY(-15px);
    }
    .effect {
        transition: box-shadow 0.3s;
        position: relative;
    }
    .off {
        position: absolute;
        background-color: $primaryColor;
        color: #fff;
        text-align: center;
        padding: 9px;
        width: 3.5rem;
        top: 0;
        right: 0;
        border-radius: 50%;
    }
    .heart {
        background-image: url('../assets/img/heart.svg');
        position: absolute;
        width: 74px;
        height: 74px;
        margin: 7px 0 0 8px;
        background-repeat: no-repeat;
        background-size: cover;
        animation: heartBeat 2s 2;
    }
}
.mercado {
    margin-top: 30px;
    min-width: 320px;

    &__pago {
        width: 100%;
    }
}