.card-title {
    @include measures ($primaryColor, 1.8rem, 700, center, 5px)
}
.card {
    transition: transform 0.4s;
    cursor: pointer;
    box-shadow: 5px 6px 15px 1px rgba(17, 17, 17, 0.30);

    &:hover {
        transform: translateY(-15px);
    }
    .effect {
        transition: box-shadow 0.3s;
        position: relative;
    }
    .off {
        position: absolute;
        background-color: $primaryColor;
        color: #fff;
        text-align: center;
        padding: 12px;
        width: 3.5rem;
        top: 0;
        border-radius: 50%;
    }
}
.mercado {
    margin-top: 30px;
    min-width: 320px;

    &__pago {
        width: 100%;
    }
}