/* CUSTOM PROPERTIES */
:root {
    --primaryColor: #111;
    --secundaryColor: #913e0e;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background: #B87612;
    background: -webkit-linear-gradient(top, #B87612, #F4B352);
    background: -moz-linear-gradient(top, #B87612, #F4B352);
    background: linear-gradient(to bottom, #B87612, #F4B352);
}

/* NAVBAR */
.sub-header {
    background-color: var(--primaryColor);
    color: #fff;
    padding: .3rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1rem;
    margin: 0;
}

span {
    color: var(--primaryColor);
}

.navbar .navbar-brand {
    font-size: 2.3rem;
    color: var(--primaryColor);
    animation: heartBeat 2s 2;
    -webkit-animation: heartBeat 2s 2;
}

.container .navbar-toggler {
    background-color: rgb(126, 112, 112);
}

.bg-red {
    background-color: var(--secundaryColor);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 6px 15px 1px rgba(17,17,17,0.49);
}

.bg-red a {
    color: rgb(224, 207, 207);
    font-size: 1.2rem;
    transition: color, transform .3s;
    -webkit-transition: color, transform .3s;
    -moz-transition: color, transform .3s;
    -ms-transition: color, transform .3s;
    -o-transition: color, transform .3s;
}

.bg-red a:hover {
    color: #177433;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

.nav-item .nav-link {
    margin: 0 10px;
}

.bi {
    font-size: 1.6rem;
    color: var(--primaryColor);
}
/* END NAVBAR */


/* CARDS */

.card-title {
    text-align: center;
    font-size: 1.8rem;
    color: var(--primaryColor);
    font-weight: 600;
}

.col-sm-12 .card {
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}

.card:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.effect {
    transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
    -ms-transition: box-shadow 0.3s;
    -o-transition: box-shadow 0.3s;
}

.effect:hover {
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 0.5);
}

.pago {
    margin-top: 30px;
    min-width: 320px;
}
  
.pago .mercado {
    width: 100%;
}

/* FOOTER */
.footer {
    color: rgb(189, 153, 36); 
}

h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.col-sm-12 .list-unstyled {
    line-height: 2.2rem;
    list-style: none;
    
}

.list-unstyled li a {
    color: #ffffff;
}

.col-sm-12 .oca {
    margin-left: 4rem;
}
/* END FOOTER */

/* PRODUCTOS */
h2 {
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    font-size: 2.5rem;
}

.price {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    color: rgb(44, 155, 44);
}

/* CONTACTO */

.contact .bi {
    margin-left: 60px;
}


.form .btn-success {
    width: 10rem;
    text-transform: uppercase;
}

/* Devolucion */

.devolucion h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
    padding: 10px;
    color: var(--primaryColor);
}
  
.devolucion .paragraph {
    margin-top: 10px;
    padding-top: 4px;
    font-size: 1.3rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    .carousel-inner .ropa {
        height: 500px;
    }
}

@media screen and (max-width: 560px) {
    .carousel-inner .ropa {
        height: 300px;
    }
}